* { box-sizing: border-box; }

body{
  font-family: "Times New Roman", Times, serif;
  margin: 18px;
  background: #fff;
  color: #000;
}

hr{
  border: none;
  border-top: 2px solid #a9a9a9;
  margin: 14px 0 18px;
}

/* ===== Part 1 (match the frame look) ===== */
.image-preview{
  width: 460px;
  height: 260px;
  margin: 18px auto 26px;
  background: #fff;

  border-style: solid;
  border-width: 22px;
  border-top-color: #8fd3ea;
  border-right-color: #f3a4b8;
  border-bottom-color: #8df19a;
  border-left-color: #f2e1bf;

  display: flex;
  align-items: center;
  justify-content: center;

  /* beveled corners */
  clip-path: polygon(
    22px 0,
    calc(100% - 22px) 0,
    100% 22px,
    100% calc(100% - 22px),
    calc(100% - 22px) 100%,
    22px 100%,
    0 calc(100% - 22px),
    0 22px
  );
}

.image-preview img{
  width: 120px;        
  height: auto;
  display: block;
}

/* ===== Part 2 table style ===== */
.answers{
  border-collapse: collapse;
  width: 340px;
}

.answers th, .answers td{
  border: 1px solid #000;
  padding: 8px 10px;
  text-align: left;
}

.answers th{
  background: #eaeaea;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 520px){
  .image-preview{
    width: 100%;
    height: 220px;
  }
  .answers{
    width: 100%;
  }
}
